<footer class="footer">
	<small>
		Created by <a href="http://www.linkedin.com/pub/raanan-lipkin/2b/8b0/a32">
    	Raanan Lipkin </a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
      		<li><%= link_to "Contact", contact_path %></li>
      		<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>